USE [master]
GO
/****** Object:  Database [users_bd]    Script Date: 02.02.2018 2:07:20 ******/
CREATE DATABASE [users_bd] ON  PRIMARY 
( NAME = N'users_bd', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\users_bd.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'users_bd_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\users_bd_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [users_bd].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [users_bd]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02.02.2018 2:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](30) NOT NULL,
	[password] [nvarchar](164) NOT NULL,
	[date] [date] NOT NULL,
	[salt] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [login], [password], [date], [salt]) VALUES (1, N'test1', N'D7FCE1DD52A69401E52A7FFDFF2AA11F3441EA23', CAST(N'2018-01-31' AS Date), N'PWILAUUNOIAYAXOZOJEN')
INSERT [dbo].[Users] ([id], [login], [password], [date], [salt]) VALUES (2, N'test2', N'0C062D14EDB8C41ACF95AFD6A669FA7BE66679CA', CAST(N'2018-01-31' AS Date), N'TZYTZAGXNYXEHIFXFPVB')
INSERT [dbo].[Users] ([id], [login], [password], [date], [salt]) VALUES (3, N'test', N'8D34E23A93EF20FE4D5DFA768D0E9F641409694A', CAST(N'2018-01-31' AS Date), N'BRCCLGILJIBBXOOEDUAX')
SET IDENTITY_INSERT [dbo].[Users] OFF
USE [master]
GO
